= content_for(:title, "Forgotten password")

.row
  .col-sm-6.col-sm-offset-3

    %h2 Forgotten Password

    %p Enter your email address below. Instructions to reset your password will be sent to you.

    = form_tag forgotten_passwords_path, :id => 'forgotten_password', class: 'form-horizontal form-border' do

      .form-group.required
        = label_tag :email, nil, class: 'col-sm-3'
        .col-sm-9
          = text_field_tag :email, nil, required: 'true'

      .form-group.required
        .col-sm-6.col-sm-offset-3
          = submit_tag 'Reset my password', class: "btn btn-primary"
