.collapse_title
  %span.glyphicon.glyphicon-collapse-up.collapse_icon
  .title== #{@transcript.title}
  / .date== #{@transcript.date}

.collapse_content.collapsed
  %table#metadata.small
    %tr
      %th
        Participants
      %td
        - @transcript.participants.each do |participant|
          .participant
            %strong= participant.role
            == :
            = participant.name
            %br
    %tr
      %th
        Language
      %td
        = @transcript.language_code

    %tr
      %th
        Country
      %td
        = @transcript.country_code

    %tr
      %th
        Date
      %td
        = @transcript.date

    %tr
      %th
        Depositor
      %td
        = @transcript.depositor.full_name

    %tr
      %th
        Description
      %td
        = truncate @transcript.description, :length => 100

    %tr
      %th
        Original Format
      %td
        = @transcript.transcript_format

    %tr
      %th
        Download
      %td
        = link_to "EOPAS XML", eopas_transcript_path(@transcript)
        = link_to "Original (#{@transcript.transcript_format})", @transcript.source.url

    - if current_user and (@transcript.depositor.id == current_user.id or current_user.admin?)
      %tr.actions.hidden-print
        %th
        %td
          = link_to 'Edit transcript metadata', edit_transcript_path(@transcript)

          - if current_user and (@transcript.depositor.id == current_user.id or current_user.admin?)
            %br
            = link_to 'Delete transcript', @transcript, :confirm => "Are you sure?", :method => :delete
