- i = 0
- @transcript.phrases.each do |phrase|

  / This will hide any phrases that are tagged with the WA symbol
  .line.row{:class => [("hide-language" if phrase.lang_code=='WA'), phrase.speaker]}

    .controls.col-xs-1{:title => "#{phrase.start_time} to #{phrase.end_time}"}
      = "p#{i += 1}"
      %a{:class => 'play_button glyphicon glyphicon-play-circle', :href => "#", :data => {:start => "#{phrase.start_time}", :end => "#{phrase.end_time}"}}

    .tracks.phrase.col-xs-11
      - if current_user and (@transcript.depositor.id == current_user.id or current_user.admin?)
        = form_tag({:controller=>"transcript_phrases", :action => 'upload_attachment'}, :id => phrase.phrase_id, :class => ('dropzone' if phrase.attachment?), :multipart => true ) do
          = render partial: "tiers", locals: {phrase: phrase}
      - else
        = render partial: "tiers", locals: {phrase: phrase}