:javascript
  var country_languages = #{CountryLanguage.country_languages.to_json}

#transcript_details.row
  .col-sm-8.col-sm-offset-2

    %h2 Edit Transcript Details

    = form_for @transcript, :html => { class: 'validate' }, :method => :put do |form|
      = error_messages @transcript

      .form-group.required
        = form.label :title
        = form.text_field :title, required: 'true'

      .form-group.required
        = form.label :description
        = form.text_area :description, :rows => 5, :cols => 80, required: 'true'

      .form-group.required.form-inline
        = form.label :date
        = form.date_select :date, {:order => [:day, :month, :year], :start_year => 1950}, {required: true} 

      .form-group.required
        = form.label :country_code          
        = form.select :country_code, options_from_collection_for_select(Country.all.sort_by(&:name), :code, :name, @transcript.country_code), {}, class: 'country-select', 'data-select-child' => 'transcript_language_code', required: 'true'

      .form-group.required
        = form.label :language_code
        = form.select :language_code, options_for_select([], @transcript.language_code), {}, 'data-option-selected' => @transcript.language_code, required: 'true'

      .form-group
        = form.label :copyright, 'Copyright Holder'
        = form.text_field :copyright

      .form-group
        = form.label :license
        = form.select :license, options_from_collection_for_select(License.all, :code, :name, @transcript.license)

      .form-group
        = form.label :private, 'Make item private?'
        = form.check_box :private

      .form-group
        = form.label :participants, 'Participants'
        .field-group
          = form.fields_for :participants do |builder|
            %div.participant.form-inline
              = builder.label :name
              = builder.text_field :name, :size => 40

              = builder.label :role
              = builder.select :role, Participant::ROLES, :include_blank => true

              = builder.check_box :_destroy
              = builder.label :_destroy, 'Remove'

          = link_to 'Add participant', 'javascript:void(0)', 'data-clone-fields' => true

      = form.submit "Update", class: 'btn btn-primary'

.row
  .col-sm-8.col-sm-offset-2
    %p.required_note * required attributes

