
#left_column

  #concordance.collapse_box.hidden
    .collapse_title
      = image_tag 'minimize_grey.png', :class => 'collapse_icon'
      Concordance
    .collapse_content

  - if @transcript
    %h3
      = @transcript.title
      -if @transcript.country_code
        - if @transcript.language_code
          = "; " + CountryLanguage.find_by_country_code_and_code(@transcript.country_code, @transcript.language_code).name
        = "; " + Country.find(@transcript.country_code).name

  - if @media_item
    #media_display.collapse_box
      = render :partial => 'media_items/mediaplayer'

  #metadata_display.collapse_box
    = render :partial => 'details'

#right_column
  #tiers_info
    = render :partial => 'tiers_info'

  #transcript_display
    = render :partial => 'phrases'

