= content_for(:title, "Transcripts")

#transcripts.row
  .col-sm-12

    %h2 Browse Transcripts

    = form_tag transcripts_path, :method => 'get', class: 'form-inline hidden-print' do
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", class: 'btn btn-default btn-sm'
        = submit_tag "Clear", class: 'btn btn-link btn-sm'

    - if @transcripts.empty?
      .row
        .col-sm-6.col-sm-offset-3
          %h4 No results
          %p Please search again or clear the search.

    - else

      .sort
        sort by
        = sortable "date"
        = sortable "title"
        = sortable "language_code", "Language"

      .transcripts
        - @transcripts.each do |transcript|
          - if transcript.participants
            - speakers = transcript.participants.find_all{|people| people.role == 'speaker' }
            - creators = transcript.participants.find_all{|people| people.role == 'creator' }
          - lang = ''
          - if transcript.language_code and transcript.country_code
            - lang = CountryLanguage.country_languages[transcript.country_code][transcript.language_code]

          .row.transcript
            .col-sm-12
              .title
                = link_to transcript.title, transcript
                %span.meta.date= transcript.date ? transcript.date.strftime("%Y") : ""

          .row
            .col-sm-7
              .description
                = transcript.description
                = transcript.copyright

              .clear
                - if current_user and (transcript.depositor.id == current_user.id or current_user.admin?)
                  =link_to 'Edit', edit_transcript_path(transcript), class: ' btn-default btn-xs'
                  =link_to 'Delete', transcript, class: ' btn-default btn-xs', :confirm => "Are you sure?", :method => :delete


            .col-sm-5.transcript-meta
              .row
                .col-sm-6.meta-label
                  - if speakers.length > 0
                    Speakers
                .col-sm-6.meta
                  - for person in speakers
                    .person= person.name

              .row
                .col-sm-6.meta-label
                  - if creators.length > 0
                    Creators
                .col-sm-6.meta
                  - for person in creators
                    .person= person.name

              .row
                .col-sm-6.meta-label
                  Language
                .col-sm-6.meta
                  = link_to lang, transcripts_path(:language_code => transcript.language_code)
                  %br= "#{transcript.phrases.count} phrases"

