= content_for(:title, "#{@transcript.title}")
= content_for(:classes, "single-transcript")

.row.transcript-title
  .col-sm-12
    - if @transcript
      %h3= @transcript.title

    - if @media_item
      #media_display
        = render :partial => 'media_items/mediaplayer'
      /   = render :partial => 'media_items/details'
    - else
      #media_display
        = render :partial => 'media_items/attach'

    #tiers_info.hidden-print
      = render :partial => 'tiers_info'

.row.transcript-content

  #transcript_display.left_column.col-sm-7
    = render :partial => 'phrases'


  #attachments.right_column.col-sm-5


    - if @transcript.has_attachments
      #attachment_display
        = render :partial => 'attachments'

    / #transcript_metadata.collapse_box
    /   = render :partial => 'details'

    / #concordance.collapse_box
    /   .collapse_title
    /     %span.glyphicon.glyphicon-collapse-down.collapse_icon
    /     .title Concordance
    /   .collapse_content