= content_for(:title, "#{@transcript.title}")

#single-transcript
  .row
    .col-sm-12
      - if @transcript
        %h3= @transcript.title

  .row
    #left_column.col-sm-7

      - if @media_item
        #media_display
          = render :partial => 'media_items/mediaplayer'
        /   = render :partial => 'media_items/details'
      - else
        #media_display.collapse_box
          = render :partial => 'media_items/attach'

      #tiers_info.hidden-print
        = render :partial => 'tiers_info'

      #transcript_display
        = render :partial => 'phrases'


    #right_column.col-sm-5


      - if @transcript.has_attachments
        #attachment_display
          = render :partial => 'attachments'

      / #transcript_metadata.collapse_box
      /   = render :partial => 'details'

      / #concordance.collapse_box
      /   .collapse_title
      /     %span.glyphicon.glyphicon-collapse-down.collapse_icon
      /     .title Concordance
      /   .collapse_content