= content_for(:title, "#{@user.full_name}")

.row
  .col-sm-8.col-sm-offset-2

    %h2 User Details

    %dl.dl-horizontal
    
      %dt Name
      %dd= @user.full_name

      %dt Email
      %dd= @user.email

      %dt Roles
      %dd= @user.roles.join ","

      %br
      
      %dt
      %dd= link_to 'Edit Details', edit_user_path, class: "btn btn-default"
