.collapse_title
  %span.glyphicon.glyphicon-collapse-up.collapse_icon
  .title== #{@media_item.title}
  / .date== #{@media_item.recorded_on}

.collapse_content.collapsed
  %table#metadata.small
    %tr#depositor
      %th
        Depositor
      %td
        = @media_item.depositor.full_name

    %tr#recorded_on
      %th
        Recorded on
      %td
        = @media_item.recorded_on

    %tr#description
      %th
        Description
      %td
        = truncate @media_item.description, :length => 100

    %tr#copyright
      %th
        Copyright
      %td
        = @media_item.copyright

    %tr#license
      %th
        License
      %td
        = @media_item.license

    %tr#private
      %th
        Private
      %td
        = @media_item.private

    - if current_user and (@media_item.depositor.id == current_user.id or current_user.admin?)
      %tr
        %th
          Download
        %td
          = link_to @media_item.media.file.basename, @media_item.media.url

      %tr
        %th
          Embed code:
        %td
          %textarea#embed_code
            = html_escape(media_item_embed_tag @media_item)

      %tr.actions.hidden-print
        %th
        %td
          = link_to 'Edit media item metadata', edit_media_item_path(@media_item)

          -if @transcript
            - if current_user and (@transcript.depositor.id == current_user.id or current_user.admin?)
              %br
              = link_to 'Unlink Media Item', remove_media_item_transcript_path(@transcript), :confirm => "Are you sure?", :method => :delete
