:javascript
  var country_languages = #{CountryLanguage.country_languages.to_json}

- if @media_item.new_record?

  .form-group.form-inline.required
    = form.label :format      
    = form.select :format, options_for_select(MediaItem::FORMATS, @media_item.format), { :include_blank => true }, required: 'true'

  .form-group.required
    = form.label :media, "Media File"
    = form.file_field :media, required: 'true'
    = form.hidden_field :media_cache

- else

  %p 
    Format:
    = @media_item.format.titleize

  - if @media_item.format == 'video'
    = link_to image_tag(@media_item.media.thumb.url), @media_item

.form-group.required
  = form.label :title
  = form.text_field :title, required: 'true'

.form-group.required
  = form.label :description
  = form.text_area :description, :rows => 5, :cols => 80, required: 'true'

.form-group.required.form-inline
  = form.label :recorded_on, 'Date recorded'
  = form.date_select :recorded_on, {:order => [:day, :month, :year], :start_year => 1950}, {required: true} 

.form-group.required
  = form.label :copyright, 'Copyright Holder'
  = form.text_field :copyright, required: 'true'

.form-group
  = form.label :license
  = form.select :license, options_from_collection_for_select(License.all, :code, :name, @media_item.license)

.form-group
  = form.label :private, 'Make item private?'
  = form.check_box :private
