= content_for(:title, "Sign in")

.row
  .col-sm-6.col-sm-offset-3

    %h2 Sign in

    = form_for @user_session, :html => { class: 'form-horizontal form-border' } do |f|
      = error_messages @user_session

      .form-group.required
        = f.label :email, class: 'col-sm-3'
        .col-sm-8
          = f.text_field :email, required: 'true'

        = f.label :password, class: 'col-sm-3'
        .col-sm-8
          = f.password_field :password, required: 'true'

        .col-sm-offset-3.col-sm-6
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember me
          
      .form-group
        .col-sm-offset-3.col-sm-6
          = f.submit "Sign in", class: 'btn btn-primary' 

    .row
      .col-sm-offset-3.col-sm-6

        %p.small= link_to 'Forgot your password?', new_forgotten_password_path
